BeautifulSoup==3.2.1
SPARQLWrapper==1.5.2
argparse==1.2.1
html5lib==0.99
icalendar==3.5
isodate==0.4.9
jsontemplate==0.87
pyparsing==1.5.7
python-dateutil==2.1
pytz==2013.7
rdflib==4.0.1
requests==2.0.0
simplejson==3.3.0
six==1.4.1

pdfminer==20131113
wsgiref==0.1.2
pystache
chardet
slugify